body{

    background-color: black;

	color: white;

	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;

}

h1{
	color: red;
}

.container{
	width: 30em;
	margin-top: 1em;

}


#album-cover{
	height: 20em;
	width: 20em;
	background-color: #111111;
}


#linktree a, #deadtree a{ text-decoration:none; }
#linktree svg, #deadtree svg{ 
		height: 3em;
		width: 3em;
}





#deadtree{
	margin-top: .25em;
}
#deadtree svg .crossed{
	opacity: 0;
}
#deadtree svg:hover .crossed{
	opacity: 100;
}